@model  ApartmentBillingSystem.Application.ViewModels.UserDashboardViewModel
@{
    ViewData["Title"] = "User Page";
}


<h2>Welcome, @Model.FullName</h2>
<p>Email: @Model.Email</p>
<p>Apartment: Block @Model.ApartmentBlock / No: @Model.ApartmentNumber</p>


